/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.slider {
    position: relative;
    max-width: 90%;
    height: 75vh;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.5s ease-in-out;
    opacity: 1.1;
}

.slide img {
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Increase the size of images without a specific class by 80% */
.slide img:not(.ndtv) {
    max-width: calc(50% * 1.8); /* Increase width by 80% */
    max-height: calc(90% * 1.8); /* Increase height by 80% */
}

/* Adjusting the size of images with the ndtv class */
.ndtv {
    width: 20px; /* Adjusted the width */
    height: 20px; /* Adjusted the height */
    margin-top: 10px;
    margin-right: 5px; /* Space between the icon and text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* vertical-align: middle; Align with the text */
}

.slide-content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.slide a {
    text-decoration: none;
    color: #333;
}

.slide h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.slide h2:hover {
    color: #621d8f;
}

.slide p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin: 10px 0;
}

.slide h6 {
    font-size: 12px;
    color: #999;
    margin: 9px 40px 40px;
    display: flex;
    align-items: center;
}

/* Navigation button styles */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive styles */
@media (max-width: 768px) {
    .slide {
        flex-direction: column;
        text-align: center;
    }

    .slide img {
        max-width: 95%;
        max-height: 40%;
        margin: 0 0 20px;
    }

    .slide h2 {
        font-size: 20px;
    }

    .slide p {
        font-size: 14px;
    }

    .slide h6 {
        font-size: 10px;
    }

    .prev, .next {
        font-size: 14px;
        padding: 12px;
    }
}
